<div class="modal-header">
  <h4 class="modal-title">Register Student</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeWindow()">
    <!-- <span aria-hidden="true">&times;</span> -->
    <i class="far fa-times-circle"></i>
  </button>
</div>
<div class="modal-body ">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <form [formGroup]="studentRegisterForm" (ngSubmit)="registerStudent()">
        <div class="form-group">
          <input type="text" name="firstName" formControlName="firstName" class="form-control rounded-pill"
            placeholder="First Name">
          <small *ngIf="studentRegisterForm.get('firstName') | isvalid: ['required']"
            class="error-msg">This field is required!</small>
        </div>
        <div class="form-group">
          <input type="text" name="lastName" formControlName="lastName" class="form-control rounded-pill"
            placeholder="Last Name">
          <small *ngIf="studentRegisterForm.get('lastName') | isvalid: ['required']"
            class="error-msg">This field is required!</small>
        </div>
        <div class="form-group">
          <input type="email" name="email" formControlName="email" class="form-control rounded-pill"
            placeholder="Email">
          <small *ngIf="studentRegisterForm.get('email') | isvalid: ['required']" class="error-msg">This field is
            required!</small>
          <small *ngIf="studentRegisterForm.get('email') | isvalid: ['invalidEmail']" class="error-msg">Invalid email
            format</small>
        </div>
        <div class="form-group" *ngIf="isNewRecord">
          <input type="password" name="password" formControlName="password" class="form-control rounded-pill"
            placeholder="Create Password">
          <small *ngIf="studentRegisterForm.get('password') | isvalid: ['required']"
            class="error-msg">This field is required!</small>
        </div>
        <div class="from-group">
          <label for="inputState">Batch</label>
          <select class="form-control rounded-pill" formControlName="batch">
            <option>Select Batch</option>
            <option name="batch" *ngFor="let batch of batches" [ngValue]="batch">
              {{batch.department}}-{{batch.batch_year}}-{{batch.section}}</option>
          </select>
          <small *ngIf="studentRegisterForm.get('batch') | isvalid: ['required']" class="error-msg">This
            field is required!</small>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-info btn-lg float-right mt-2">{{isNewRecord ? 'Register' : 'Update'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
