<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row mt-4">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div [routerLink]="'teacher'" class="card border-left-primary shadow h-100 py-2 cp">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-head-primary text-uppercase mb-1">Teachers</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalTeachers}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-chalkboard-teacher fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div [routerLink]="'batch'" class="card border-left-primary shadow h-100 py-2 cp">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-head-primary text-uppercase mb-1">Students</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalStudents}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div [routerLink]="'subject'" class="card border-left-primary shadow h-100 py-2 cp">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-head-primary text-uppercase mb-1">Subjects</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalSubjects}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-book fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <div [routerLink]="'batch'" class="card border-left-primary shadow h-100 py-2 cp">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-head-primary text-uppercase mb-1">Batches</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalBatches}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-users fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
